<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <h4><%= app_explanation %></h4>
    <p><%= explanation %></p>
    <form action="/" method="POST">
      <input
        type="text"
        name="input_artists"
        id="input_name"
        placeholder="Write in the artists"
        list="artists_query"
        oninput="update_recommended()"
        multiple
      />
      <datalist id="artists_query"> </datalist>
      <input name="artist_button" type="submit" value="Search" />
    </form>

    <script>
      var input = document.getElementById("input_artists");
      if (input) {
        input.addEventListener("keyup", function (event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("artist_button").click();
          }
        });
      }

      function update_recommended() {
        var artist_query = document.getElementById("artists_query");
        while (artist_query.hasChildNodes()) {
          artist_query.removeChild(artist_query.lastChild);
        }

        var query = document.getElementById("input_name").value;
        get_artist(query, function (artists) {
          for (let i = 0; i < artists.length; i++) {
            var node = document.createElement("OPTION");
            var textnode = document.createTextNode(artists[i]);
            node.appendChild(textnode);
            artist_query.appendChild(node);
          }
        });
      }
    </script>
    <script src="javascripts/bundle.js"></script>
  </body>
</html>
